<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cs" connectionString="8IIuOjeQf3rh5j4L4ks6Gp2qViW3hP+yZtiT6LfCr41Z0MtxhtIReu0/+65rzNiyAjOoB9QWHtBlyInbaVwwl7bPxmRIAjb8FvamfJ7XdyEEViFTVBRwH2gmWjyT7ATkDlfiTIeTtELk5/gEC178BCJP10RXP8wL11cZUHjHklf8g6L88NGmel2OE12JAverXpGD4mVzipAyNypnzDAIcfVh4Cec5FVMYXmSIED5yh2ppcYWd7ZL4TvnsD/6XsXggtBGJgnJOLoheUCtp+f21dGN/8mUv5IdEuUK05C5SHy/aDhNpk9z3Q=="/>
  </connectionStrings>
</configuration>